@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply tracking-wide;
}

.c-auto {
  @apply container mx-auto;
}

.border-main {
  @apply border border-[#383838];
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
}
@media (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}
::-webkit-scrollbar-track {
  border-bottom-right-radius: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(7, 129, 186);
  border-bottom-right-radius: 16px;
  border-top-left-radius: 16px;
  border: 1px solid #383838;
}
